.main__loading--hidden {
	display: none;
}

.main__content--hidden {
	display: none;
}

.information {
	display: flex;
	flex-direction: column;
}

.temperatura {
	display: flex;
}

.tabSection {
	display: flex;
}

.tab--hidden {
	display: none;
}